APP_URL=
DATABASE_URL="postgresql://retrobox:secret@localhost:5432/mydb?schema=public"
EMAIL_SERVER="smtp://username:password@email-smtp.ap-southeast-2.amazonaws.com:587"
EMAIL_FROM="noreply-local@retrobox.app"
NEXTAUTH_SECRET="EdcagYgh6AzpuB2Ehrvz7sWz/nik8k0Om7VGn9Y/hnk="
NEXTAUTH_URL="http://localhost:3000"
LOG_LEVEL="debug"